@page "/categories/create"
@using StoresG1.Shared.Entities;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService


<h3>Crear Categoría</h3>


<CategoryForm @ref="categoryForm" Category="category" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Category category = new();
    private CategoryForm? categoryForm;

    private async Task Create()
    {
        var httpResponse = await repository.Post("api/categories", category);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            categoryForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("categories");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("categories");
    }
}
